@model List<User>

@{
	ViewData["Title"] = "Admin";
	Login session = Login.GetSession();
}

<h2>Welcome, @session.Username!</h2>

<p>
	<a asp-action="Register" class="btn btn-primary mt-3">Register new user</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>Admin</th>
			<th>Logged in</th>
			<th>Actions</th>
		</tr>
	</thead>
<tbody>
		@foreach (User user in Model)
		{
			<tr>
				<td>@user.Username</td>
				<td>@user.IsAdmin</td>
				<td>@user.IsLoggedIn</td>
				<td>
					@if (session.Username == user.Username)
					{
						<span class="disabled">Edit</span> <span>|</span>
						<span class="disabled">Delete</span>
					}
					else
					{
						<a asp-action="Edit" asp-route-id="@user.Id">Edit</a> <span>|</span>
						<a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
					}
				</td>
			</tr>
		}
</table>